@use 'variaveis';

.container{
    width: 60vw;
    
    @media (max-width:768px) {
        width: 90vw;
    }

    @media screen and (min-width:769px) and (max-width:1023px){
        width: 80vw;
    }

    @media screen and (min-width: 1024px) and (max-width:1392px){
        width: 70vw;
    }
}

.content {
    background-image: url(/src/images/texturaAqua.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    padding-top: 10vw;
    color: #597a41;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__text{
        text-align: left;
        line-height: 1.7;
        margin: 30px;

        & a{
            color: variaveis.$corVerdePrincipal;
            text-decoration: underline;
            font-weight: 700;
            transition: 0.3s;

            &:hover{
                color: variaveis.$corHoverMenu;
            }
        }

        & span{
            font-weight: 700;
        }
    }

    &__item {
        padding: 9vh 0;

        &__symbol {
            width: 12vw;

            @media (max-width:768px) {
                width: 40vw;
            }

            @media screen and (min-width:769px) and (max-width:1023px){
                width: 25vw;
            }
        
            @media screen and (min-width: 1024px) and (max-width:1392px){
                width: 20vw;
            }
        }

        &__img {
            height: 35vw;
            margin: 0 2vw;
            box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.3);

            @media (max-width:768px) {
                height: 80vw;
            }

            @media screen and (min-width:769px) and (max-width:1023px){
                height: 70vw;
            }

            @media screen and (min-width: 1024px) and (max-width:1392px){
                height: 65vw;
            }
        }

        &__imgh{
            width: 50%;
            box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.2);

            @media (max-width:768px) {
                width: 80%;
            }

            @media screen and (min-width:769px) and (max-width:1023px){
                width: 50%;
            }
        }

        &__imgv{
            box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.3);
            width: 30%;
            @media (max-width:768px) {
                width: 80%;
            }

            @media screen and (min-width:769px) and (max-width:1023px){
                width: 40%;
            }
        }
    }

    &__title {
        padding-top: 100px;
    }

    & h2{
        font-size: 6em;
        margin: 0 1vw;

        @media (max-width:768px){
            font-size: 4em;
            margin: 0 2vw;
        }
    
        @media screen and (min-width:769px) and (max-width:1023px){
            font-size: 5em;
        }
    }
}

.contact {
    padding-top: 50px;
    width: 100%;
    font-size: 50px;
    padding-bottom: 50px;
    margin-top: 100px;

    @media (max-width:1023px){
        border-top: 2px solid variaveis.$corVerdeFundo;
    }
}

.logo {
    padding-bottom: 50px;
}

.paginaPrincipal,
.paginaCerimonia,
.paginaDicas,
.paginaHistoria,
.paginaPresentes {
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5vw;

    @media (max-width: 768px) {
        padding: 10vw 0;
    }

    &__wrapper {
        padding-bottom: 1vh;

        &__list {
            &__item {
                padding-bottom: 20px;
                border: 2px solid transparent;
                transition: 0.5s ease;
                text-align: center;
                user-select: none;

                &__card {
                    margin-bottom: 10px;
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                .material-symbols-outlined {
                    margin-top: 10px;
                }

            }
        }
    }
}